.space-container {
  margin: 200px 0px;
}
/* .skills {
  position: relative;
  transition: all linear 0.4s;
}
.skills-child:hover {
  position: absolute;
  transform: scale(0.5);
  cursor: pointer;
}
 */
